#mapid {
	height: 80%;
 	width: 100%}

#titre {
	background-color: Black ;
	height: 5%;
	font-size : 9mm;
	text-align: center;}

#inventaire {
	height: 15%;
	background-color: Darkred ;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

.selec {
	background-color: Orange;
	height : 15mm;
	width : 20mm;
	display: inline;
}

.inventaire {
	background-color: Darkred ;
	height : 15mm;
	width : 20mm;
	display: inline;
}
html{
  font-family: Arial;
  text-align: justify;
  background-color: Black;
}
