html{
	font-family: Arial;
  text-align: justify;
	background-color: PowderBlue;
	background-image: url("images/godfather.jpg")
}

a{
	color: white;
	text-decoration: unset;
	padding: 30px;

}


#tableau{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	color: white;
	box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 0.25);
	padding: 10px 10px 10px 10px;
	border-radius: 0.35em;
	width: 60%;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 200%;

	margin-left: auto;
  margin-right: auto;

}

#tableau tr{
	height: 50px;
	display : flex;
}

#tableau td{
	width : 200px;
}

#centrage{
	display: flex;
	flex-direction: column;
	padding: 200px;
}


#bandeau{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	color: white;
	box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 0.25);
	padding: 10px 1.5px 10px 1.5px;
	border-radius: 0.35em;
	width: 60%;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 200%;
	margin-top: 100px;

	margin-left: auto;
	margin-right: auto;

}
